[*.cs]

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = none

# SA1010: Opening square brackets should be spaced correctly
dotnet_diagnostic.SA1010.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1116: Split parameters should start on line after declaration
dotnet_diagnostic.SA1116.severity = none

# SA1127: Generic type constraints should be on their own line
dotnet_diagnostic.SA1127.severity = none

# SA1128: Put constructor initializers on their own line
dotnet_diagnostic.SA1128.severity = none

# SA1131: Use readable conditions
dotnet_diagnostic.SA1131.severity = none

# SA1132: Do not combine fields
dotnet_diagnostic.SA1132.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = silent

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = none

# SA1214: Readonly fields should appear before non-readonly fields
dotnet_diagnostic.SA1214.severity = silent

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = silent

# SA1407: Arithmetic expressions should declare precedence
dotnet_diagnostic.SA1407.severity = none

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = none

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = none

# SA1508: Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1508.severity = none

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = silent

# SA1611: Element parameters should be documented
dotnet_diagnostic.SA1611.severity = error

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = silent

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = silent

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = error
